.game {
  background-color: salmon;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border: 2px solid black;
}
.board {
  background-color: #444;
  width: 290px;
  margin: auto;
  padding: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
}

.square {
  background-color: gold;
  padding: 10px;
  margin: 5px auto;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: none;
}

.square:focus {
  background-color: salmon;
  border: 2px solid black;
}
.game .heading{
  border-bottom: 1px solid black;
  padding-bottom: 25px;
}